.about-logo, .about__description {
  margin-left: auto;
  margin-right: auto;
}

.visually-hidden {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px);
  /* IE6, IE7 */
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0 !important;
  border: 0 !important;
  height: 1px !important;
  width: 1px !important;
  overflow: hidden;
}

body {
  font-family: "Roboto", sans-serif;
  background-color: #ffffff;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  font-family: "Rufina", serif;
  font-weight: 700;
}

p {
  margin: 0;
}

ul,
ol {
  margin: 0;
  padding: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.list {
  list-style: none;
}

.link {
  text-decoration: none;
}

.address {
  font-style: normal;
}

.container {
  width: 1200px;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
  outline: 1px solid tomato;
}

.header .container {
  display: flex;
  align-items: center;
}

.service .container {
  display: flex;
  justify-content: center;
  width: 100%;
  max-width: 1920px;
}

.footer .container {
  display: flex;
  align-items: baseline;
}

.container {
  width: 100%;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
  /* background-color: turquoise; */
  border: 2px solid tomato;
}

.header .container {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

@media screen and (max-width: 767px) {
  .container {
    width: 480px;
  }
}

@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}

@media screen and (min-width: 1140px) {
  .container {
    width: 1140px;
  }
  .header .container {
    justify-content: flex-start;
  }
}

@media screen and (max-width: 767px) {
  .mobile-menu {
    padding: 10px 15px;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    opacity: 0;
    transform: translateY(-100%);
    text-align: center;
    background-color: #fcf5ee;
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .mobile-menu__list {
    font-weight: 500;
    font-size: 14px;
    line-height: 3.21;
    text-transform: uppercase;
    font-family: "Roboto", sans-serif;
  }
  .mobile-menu__link {
    color: #263a41;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .mobile-menu__link:hover, .mobile-menu__link:focus {
    color: #ff817e;
  }
  .is-open {
    opacity: 1;
    transform: translateY(100%);
  }
  .menu__burger-btn {
    display: flex;
    background-color: transparent;
    border: none;
    padding: 0;
    cursor: pointer;
  }
  .menu__burger-icon {
    fill: #ff817e;
    width: 40px;
    height: 40px;
  }
}

.social-list {
  display: none;
  /* overflow: hidden; */
  align-items: center;
  justify-content: center;
  /* transform: translateY(20%); */
  transition: overflow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.team__item:hover .social-list {
  display: flex;
  overflow: visible;
}

.social-list__item:not(:last-child) {
  margin-right: 14px;
}

.social-list__link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  border: 1px solid #30383b;
  text-align: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-list__link:hover {
  background-color: #ff817e;
  border: none;
}

.social-list__link:hover .social-list__icon {
  fill: #ffffff;
}

.social-list__icon {
  fill: #30383b;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form {
  background-color: #fff9f8;
  padding-top: 80px;
  padding-bottom: 130px;
}

.form .container {
  width: 100%;
  max-width: 750px;
}

.form-register {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;
}

.form-text,
.form-notes {
  border: none;
  border-bottom: 1px solid #e3e6ea;
  background: transparent;
  padding-bottom: 16px;
}

.form-text placeholder,
.form-notes placeholder {
  text-transform: uppercase;
  color: #e3e6ea;
}

.form-text {
  width: 100%;
  text-transform: uppercase;
  font-size: 12px;
  line-height: 4.58;
  color: #999999;
  font-weight: 400;
  font-family: "Roboto", sans-serif;
  /* border: none; */
  /* border-bottom: 1px solid  #e3e6ea; */
  /* background: transparent; */
}

.form-notes {
  width: 100%;
  height: 100px;
  font-size: 12px;
  line-height: 4.58;
  color: #888888;
  font-weight: 400;
  font-family: "Roboto", sans-serif;
  resize: none;
}

.form-btn {
  font-size: 14px;
  /* line-height: 3.9; */
  color: #ffffff;
  font-weight: 500;
  font-family: "Roboto", sans-serif;
  text-align: center;
  background: #ff817e;
  border-radius: 35px;
  border: none;
  /* min-width: 200px; */
  margin-top: 40px;
  padding: 18px 22px;
}

@media screen and (min-width: 768px) {
  .form-text {
    width: 318px;
  }
}

@media screen and (min-width: 1140px) {
  .form {
    background-image: url(../images/appointment/bg.jpg);
    background-repeat: no-repeat;
  }
}

.logo {
  display: flex;
  flex-direction: column;
  width: 110px;
}

.logo-link {
  color: #211833;
  font-weight: 400;
  font-size: 30px;
  line-height: 1.5;
  font-family: "Playfair Display", serif;
  padding-bottom: 0;
}

.logo-img {
  margin: 0 auto;
}

@media screen and (max-width: 767px) {
  .nav__list {
    display: none;
  }
}

@media screen and (min-width: 768px) {
  .mobile-menu,
  .menu__burger-btn,
  .menu__burger-icon {
    display: none;
  }
  .nav__list {
    display: flex;
    font-weight: 500;
    font-size: 14px;
    line-height: 3.21;
    text-transform: uppercase;
    font-family: "Roboto", sans-serif;
  }
  .nav__list .nav__item + .nav__item {
    margin-left: 50px;
  }
  .nav__link {
    color: #263a41;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    cursor: pointer;
  }
  .nav__link:hover, .nav__link:focus {
    color: #ff817e;
  }
}

@media screen and (min-width: 1140px) {
  .logo {
    margin-right: 180px;
  }
}

.hero {
  padding-top: 60px;
  padding-bottom: 60px;
}

.hero__bg-img {
  position: absolute;
  top: 0;
  right: 0;
  width: 42%;
  z-index: -1;
}

.hero__bg-img-2 {
  position: absolute;
  top: 190px;
  left: -100px;
  width: 42%;
  z-index: -1;
}

.hero__suptitle {
  font-weight: 400;
  font-size: 15px;
  line-height: 4.8;
  letter-spacing: 2px;
  color: #ff817e;
  font-family: "Rufina", serif;
  text-transform: uppercase;
}

.hero__title {
  font-weight: 700;
  font-size: 44px;
  line-height: 1.23;
  color: #1e2528;
  font-family: "Rufina", serif;
  text-align: start;
  margin-bottom: 25px;
}

.hero__description {
  font-weight: 400;
  font-size: 15px;
  line-height: 1.8;
  color: #555555;
  font-family: "Roboto", sans-serif;
  text-align: left;
  margin-bottom: 50px;
}

.hero__btn {
  display: flex;
  align-items: center;
}

.hero__btn-reserve-link {
  display: inline-block;
  padding: 20px 30px;
  margin-right: 54px;
  min-width: 170px;
  font-weight: 500;
  font-size: 16px;
  line-height: 0.81;
  font-family: "Roboto", sans-serif;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
  background-color: #ff817e;
}

.hero__btn-reserve-link-icon {
  fill: #ffffff;
}

.hero__btn-video-link {
  display: flex;
  align-items: center;
  font-weight: 400;
  font-size: 15px;
  line-height: 1.8;
  font-family: "Roboto", sans-serif;
  color: #555555;
}

.hero__btn-video-link-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 16px;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: #fff9f8;
}

.hero__btn-video-link-icon {
  fill: #ff817e;
}

@media screen and (max-width: 767px) {
  .hero__bg-img {
    display: none;
  }
}

@media screen and (min-width: 768px) {
  .hero {
    padding-bottom: 90px;
  }
  .hero__title {
    font-weight: 700;
    font-size: 60px;
    line-height: 1.25;
    margin-bottom: 47px;
  }
  .hero__wrapper {
    width: 545px;
  }
}

@media screen and (min-width: 1140px) {
  .hero {
    padding-bottom: 165px;
  }
}

.about {
  text-align: center;
}

.about-logo {
  margin-bottom: 40px;
}

.about-flower-1 {
  position: absolute;
  top: 600px;
  left: 25%;
}

.about-flower-2 {
  position: absolute;
  top: 70%;
  right: 135px;
}

.about__suptitle {
  font-weight: 400;
  font-size: 20px;
  line-height: 2.7;
  letter-spacing: 2px;
  color: "Rufina", serif;
  font-family: "Roboto", sans-serif;
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 35px;
}

.about__title {
  font-weight: 700;
  font-size: 33px;
  line-height: 1.67;
  color: #1e2528;
  font-family: "Rufina", serif;
  text-align: center;
  margin-bottom: 32px;
}

.about__description {
  font-weight: 300;
  font-size: 15px;
  line-height: 1.87;
  color: #888888;
  font-family: "Roboto", sans-serif;
  text-align: center;
  margin-bottom: 71px;
}

.about__read-more-link {
  display: inline-block;
  min-width: 170px;
  margin: 0 auto;
  padding: 20px 15px;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 0.81;
  letter-spacing: 1px;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
  background-color: #ff817e;
  border-radius: 50px;
}

@media screen and (min-width: 480px) {
  .about__title {
    font-weight: 700;
    font-size: 42px;
    line-height: 1.31;
  }
}

@media screen and (max-width: 1139px) {
  .about-flower-2 {
    display: none;
  }
}

@media screen and (min-width: 1140px) {
  .about__description {
    width: 863px;
  }
}

.service {
  padding-top: 50px;
  padding-bottom: 50px;
}

.service__list {
  display: flex;
  justify-content: center;
}

.service__item {
  position: relative;
  overflow: hidden;
}

.service__item:not(:last-child) {
  margin-right: 4px;
}

.service__overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
  background-color: #ff817e;
  transform: translateY(100%);
  transition: overflow 500ms cubic-bezier(0.4, 0, 0.2, 1), transform 500ms cubic-bezier(0.4, 0, 0.2, 1);
}

.service__item:hover .service__overlay {
  overflow: visible;
  transform: translateY(0);
}

.service__overlay-icon {
  width: 45px;
  height: 42px;
  margin-bottom: 20px;
  fill: #ffffff;
}

.service__overlay-text {
  font-weight: 700;
  font-size: 22px;
  line-height: 1.23;
  color: #ffffff;
  font-family: "Rufina", serif;
}

/* .service-list .service-item + .service-item {
  margin-right: 4px;
} */
.procedures {
  padding-top: 50px;
  padding-bottom: 50px;
}

.procedures__title {
  text-align: center;
  font-weight: 700;
  font-size: 33px;
  line-height: 0.82;
  color: #263a41;
  margin-bottom: 30px;
}

.procedures__description {
  margin: 0 auto;
  text-align: center;
  font-weight: 300;
  font-size: 15px;
  line-height: 1.8;
  color: #888888;
  margin-bottom: 70px;
}

.procedure__item {
  display: flex;
  flex-direction: column;
  border: 1px solid #e3e6ea;
  text-align: center;
  padding: 20px 20px;
}

.procedure__item:not(:last-child) {
  margin-bottom: 30px;
}

.procedure__item:hover {
  border: none;
  box-shadow: 0 10px 20px #e3e6ea;
}

.procedure__item-link {
  min-width: 140px;
  margin: 0 auto;
  padding: 15px 40px;
  font-weight: 500;
  font-size: 13px;
  line-height: 2.08;
  text-transform: uppercase;
  color: #ffffff;
  font-family: "Roboto", sans-serif;
  background-color: #30383b;
  border-radius: 22px;
}

.procedure__item:hover .procedure__item-link {
  background-color: #ff817e;
}

.procedure__item-thumb {
  padding-top: 40px;
  padding-bottom: 30px;
}

.procedure__item-thumb-title {
  font-weight: 700;
  font-size: 22px;
  line-height: 1.23;
  color: #263a41;
  font-family: "Rufina", serif;
  text-align: center;
  margin-bottom: 30px;
}

.procedure__item-thumb-description {
  font-weight: 300;
  font-size: 14px;
  line-height: 1.93;
  color: #888888;
  font-family: "Roboto", sans-serif;
  text-align: center;
  margin-bottom: 45px;
}

@media screen and (min-width: 767px) {
  .procedures__list {
    display: flex;
    justify-content: center;
  }
  .procedures__title {
    font-weight: 700;
    font-size: 42px;
    line-height: 0.64;
  }
  .procedure__item:not(:last-child) {
    margin-right: 30px;
    margin-bottom: unset;
  }
}

.quote {
  display: block;
  margin: 0 auto;
  width: 52px;
  height: 60px;
  fill: #ff817e;
  margin-bottom: 50px;
}

.testimonial {
  padding-top: 50px;
  padding-bottom: 50px;
  background-color: #fff9f8;
}

.testimonial__list {
  margin: 0 auto;
  text-align: center;
}

.testimonial__post {
  font-weight: 400;
  font-size: 18px;
  line-height: 1.94;
  font-family: "Rufina", serif;
  color: #263a41;
  margin-bottom: 50px;
}

.testimonial__post-client-photo {
  border-radius: 50%;
  margin: 0 auto;
  margin-bottom: 35px;
}

.testimonial__post-client-name {
  font-size: 22px;
  line-height: 1.59;
  color: #263a41;
  font-weight: 700;
  font-family: "Rufina", serif;
  text-align: center;
}

.testimonial__post-client-position {
  font-weight: 400;
}

.team {
  padding-top: 50px;
  padding-bottom: 100px;
}

.team__title {
  text-align: center;
  font-weight: 700;
  font-size: 33px;
  line-height: 1.21;
  font-family: "Rufina", serif;
  color: #263a41;
  margin-bottom: 30px;
}

.team__description {
  margin: 0 auto;
  text-align: center;
  font-weight: 300;
  font-size: 15px;
  line-height: 1.8;
  font-family: "Rufina", serif;
  color: #888888;
  margin-bottom: 70px;
}

.team__list {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.team__item {
  position: relative;
  outline: 1px solid tomato;
}

.team__item:not(:last-child) {
  margin-bottom: 30px;
}

.team__thumb {
  position: absolute;
  z-index: 1;
  bottom: 0;
  padding: 20px 15px;
  width: 100%;
  border: 1px solid #f1f1f1;
  background-color: #ffffff;
}

.team__item:hover .team__thumb {
  box-shadow: 0px 15px 15px rgba(48, 56, 59, 0.1);
}

.team__thumb-title {
  font-weight: 700;
  font-size: 22px;
  line-height: 1.23;
  color: #263a41;
  text-align: center;
}

.team__thumb-description {
  font-weight: 300;
  font-size: 15px;
  line-height: 1.8;
  color: #888888;
  font-family: "Roboto", sans-serif;
  text-align: center;
}

@media screen and (min-width: 768px) {
  .team__title {
    font-weight: 700;
    font-size: 42px;
    line-height: 1.19;
  }
  .team__description {
    max-width: 674px;
  }
  .team__list {
    flex-direction: row;
  }
  .team__item:not(:last-child) {
    margin-bottom: unset;
    margin-right: 30px;
  }
  .team__thumb {
    bottom: -20%;
  }
}

@media screen and (min-width: 1140px) {
  .team__thumb {
    max-width: calc(100% - 60px);
    left: 30px;
    right: 30px;
    bottom: -20%;
  }
  .team__thumb-description {
    margin-bottom: 30px;
  }
}

.contact__data {
  display: flex;
  justify-content: space-between;
}

.form-contact {
  display: flex;
  flex-flow: column;
}

.form-contact__input {
  margin-bottom: 20px;
}

.form-contact__btn {
  margin-top: 20px;
  margin-right: auto;
  min-width: 170px;
  height: 50px;
  /* padding: 20px 40px; */
  text-align: center;
  font-family: var(--main-font);
  font-weight: 500;
  font-size: 13px;
  line-height: 2.07;
  text-transform: uppercase;
  color: #ffffff;
  border: none;
  border-radius: 25px;
  background-color: var(--accent-color);
}

.logo-footer {
  font-size: 30px;
  letter-spacing: 3px;
  line-height: 2.4;
  color: #211833;
  font-weight: 400;
  font-family: var(--logo-font);
}

.copyright {
  font-size: 13px;
  line-height: 1.92;
  color: var(--item-color);
  font-weight: 400;
  font-family: var(--main-font);
  text-align: center;
}

.copy-link {
  color: var(--accent-color);
}
/*# sourceMappingURL=main.css.map */