
  $main-font: 'Roboto', sans-serif;
  $secondary-font: 'Rufina', serif;
  $logo-font: 'Playfair Display', serif;

  $primary-text-color: #263a41;
  $secondary-text-color: #888888;
  $accent-color: #ff817e;
  $logo-light-theme: #211833;
  $sup-text-color: #555555;
  $form-text-color: #999999;
  $title-text-color: #1e2528;

  $white-color: #ffffff;
  $bg-color-btn: #30383b;
  $bg-color-cards-dark: #999999;
  $bg-color-cards-dark: #f1f1f1;
  $bg-color-form-dark: #eee9dc;
  $bg-color-form-light: #fff9f8;

  $cubik: cubic-bezier(0.4, 0, 0.2, 1);
