.about {
  padding-top: 205px;
  padding-bottom: 70px;
}
.about .container {
  // display: flex;
  // flex-flow: column;
  // justify-self: center;
  @include flex-column(column, center);
}
.about-logo {
  @extend %margin-auto;
 
  margin-bottom: 40px;
}
.about-suptitle {
  @include text (20px, 2.7);
  
  letter-spacing: 2px;
  color: var(--item-color);
  // font-weight: 400;
  // font-family: var(--main-font);
  text-align: center;
  margin-bottom: 35px;
}
.about-title {
  @include text (42px, 1.3, 700);
  color: #1e2528;
  font-family: var(--secondary-font);
  text-align: center;
  margin-bottom: 38px;
}

.about-description {
  width: 863px;
  height: 71px;
  font-size: 15px;
  line-height: 1.86;
  color: var(--text-color);
  font-weight: 300;
  // font-family: var(--main-font);
  text-align: center;
  @extend %margin-auto;
  margin-bottom: 71px;
}
.read-more-link {
  display: inline-block;
  margin: 0 auto;
  font-size: 13px;
  letter-spacing: 1px;
  color: #ffffff;
  font-weight: 500;
  // font-family: var(--main-font);
  text-align: center;
  background-color: var(--bg-color-btn);
  border-radius: 35px;
  padding: 21px 48px;
  text-transform: uppercase;
}
