.about {
    text-align: center;
    
  &-logo {
    @extend %margin-auto;
    margin-bottom: 40px;
  }
  &-flower-1 {
    position: absolute;
    top: 600px;
    left: 25%;
  }
  &-flower-2 {
    position: absolute;
    top: 70%;
    right: 135px;
  }

  &__suptitle {
    
    @include font (400, 20px, 54px);
    letter-spacing: 2px;
    color: $secondary-font;
    font-family: $main-font;
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 35px;
  }
  
  &__title {
   
    @include font (700, 33px, 55px);
    color: $title-text-color;
    font-family: $secondary-font;
    text-align: center;
    margin-bottom: 32px;
  }
  
  &__description {
    @extend %margin-auto;
    // width: 863px;
    // height: 71px;

    @include font (300, 15px, 28px);
    color: $secondary-text-color;
    font-family: $main-font;
    text-align: center;

    margin-bottom: 71px;
  }

  &__read-more-link {
    display: inline-block;

    min-width: 170px;
    margin: 0 auto;
    padding: 20px 15px;
  
    font-family: $main-font;
    @include font (500, 16px, 13px);
    letter-spacing: 1px;
    text-align: center;
    text-transform: uppercase;
    color: $white-color;
  
    background-color: $accent-color;
    border-radius: 50px;
  }
}
@media screen and (min-width:480px) {

  .about__title {
    @include font (700, 42px, 55px);
    }
  
  
}

@media screen and (max-width:1139px) {
  .about-flower-2 {
    display: none;
  }
}

@media screen and (min-width: 1140px) {
  .about__description {
    width: 863px;
  }
}
