.logo {
  margin-right: 203px;
}

.logo-link {
  font-size: 30px;
  letter-spacing: 3px;
  line-height: 2.4;
  color: var(--title-color);
  font-weight: 400;
  font-family: var(--logo-font);
  padding-bottom: 0;
}
.logo-img {
  margin-bottom: 8px;
}
.nav {
  display: flex;
  align-items: flex-end;
  justify-items: flex-start;
  width: 456px;
}

.nav-list {
  display: flex;
  font-size: 14px;
  line-height: 3.2;
  color: #263a41;
  font-weight: 500;
  text-transform: uppercase;
}
.nav-link {
  color: var(--primary-text-color);
  transition: color 250ms var(--cubik), fill 250ms var(--cubik);
}

.nav-list .nav-item + .nav-item {
  margin-left: 50px;
}