.header {
  position: absolute;
  top: 20px;
  left:0;
  width:100%;
  z-index: 1;

}

.logo {
  display: flex;
  flex-direction: column;
  margin-right: 203px;

  &-link {
    font-size: 30px;
    color: $logo-light-theme;
    @include font (400, 30px, 72px);
    letter-spacing: 3px;
    font-family: $logo-font;
    padding-bottom: 0;
  }
  &-img {
    margin: 0 auto;
    // margin-bottom: 8px;
  }
}

.nav {
  display: flex;
  align-items: flex-end;
  justify-items: flex-start;
  width: 456px;

  &__list {
    display: flex;
    @include font (500, 14px, 45px);
    text-transform: uppercase;
    font-family: $main-font;
  
    & .nav__item + .nav__item {
      margin-left: 50px;
    }
  }
  
  &__link {
    color: $primary-text-color;
    transition: color 250ms $cubik;
    
    &:hover, &:focus {
      color: $accent-color;
    }
  }
}



