.hero {
  padding-top: 60px;
  padding-bottom: 60px;
  // padding-top: 165px;
  // padding-bottom: 165px;

  &__bg-img {
    position: absolute;
    top: 0;
    right: 0;
    width: 42%;
    z-index: -1;
  }
  &__bg-img-2 {
    position: absolute;
    top: 190px;
    left: -100px;
    width: 42%;
    z-index: -1;
  }

  &__suptitle {
    @include font (400, 15px, 72px);
    letter-spacing: 2px;
    color: $accent-color;
    font-family: $secondary-font;
    text-transform: uppercase;
  }

  &__title {
    @include font (700, 44px, 54px);
    color: $title-text-color;
    font-family: $secondary-font;
    text-align: start;
    margin-bottom: 25px;
  }

  &__description {
    
    @include font (400, 15px, 27px);
    color: $sup-text-color;
    font-family: $main-font;
    text-align: left;
    margin-bottom: 50px;
  }
}


.hero__btn {
  display: flex;
  align-items: center;
  
  &-reserve-link {
    display: inline-block;
    padding: 20px 30px;
    margin-right: 54px;
    min-width: 170px;

    @include font (500, 16px, 13px);
    font-family: $main-font;
    text-align: center;
    text-transform: uppercase;
    color: $white-color;
    background-color: $accent-color;
    
    &-icon {
      fill: $white-color;
    }
  }
}

.hero__btn-video-link {
  display: flex;
  align-items: center;
  @include font (400, 15px, 27px);
  font-family: $main-font;
  color: $sup-text-color;
  
  &-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 16px;
    width: 44px;
    height: 44px;
    border-radius: 50%;
    background-color: $bg-color-form-light;
  }
  
  &-icon {
    fill: $accent-color;
  }
}

@media screen and (max-width:767px) {
  .hero__bg-img {
    display: none;
  }
}

@media screen and (min-width: 768px) {
  .hero {
    padding-bottom: 90px;
    
    &__title {
      @include font (700, 60px, 75px);
      margin-bottom: 47px;
    }

  }

  .hero__wrapper {
    width: 545px;
  }
}

@media screen and (min-width: 1140px) {
  .hero {
    // padding-top: 165px;
    padding-bottom: 165px;
  }
  
}


// .video-img {
//   display: flex;
//   justify-content: center;
//   margin-right: 10px;
//   width: 44px;
//   height: 44px;
//   border-radius: 50%;
//   background-color: #fff9f8;
// }