.service {
  padding-top: 50px;
  padding-bottom: 50px;
  
  &__list {
    display: flex;
    justify-content: center;
  }

  &__item {
    position: relative;
    // flex-basis: calc(100% / 4 - 30px);
    overflow: hidden;
  
    &:not(:last-child) {
      margin-right: 4px;
    }
  }
}


.service__overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
  background-color: $accent-color;
  transform: translateY(100%);
  transition: overflow 500ms $cubik, transform 500ms $cubik;

  .service__item:hover & {
    overflow: visible;
    transform: translateY(0);
  }

  &-icon {
    width: 45px;
    height: 42px;
    margin-bottom: 20px;
    fill: $white-color;
  }

  &-text {
    @include font (700, 22px,27px);
    color: $white-color;
    font-family: $secondary-font;
  }
}


/* .service-list .service-item + .service-item {
  margin-right: 4px;
} */