.team {
  padding-top: 50px;
  padding-bottom: 50px;

  &__title {
    text-align: center;
    @include font (700, 33px, 27px);
    font-family: $secondary-font;
    color: $primary-text-color;
    margin-bottom: 30px;
  }

  &__description {
    // width: 674px;
     margin: 0 auto;
    text-align: center;
    @include font (300, 15px, 27px);
    font-family: $secondary-font;
    color: $secondary-text-color;
    margin-bottom: 90px;
  }

  &__list {
    display: flex;
    align-items: center;
    margin-left: -30px;
    margin-top: -30px;
    outline: 1px solid tomato;
  }

  &__item {
    position: relative;
    flex-basis: calc(100% / 3 - 30px);
    margin-top: 30px;
    margin-left: 30px;
  }
}


.team__thumb {
  position: absolute;
  z-index: 1;
  bottom: -20%;
  left: 10%;
  right: 10%;
  /* border: 1px solid var(--bg-color-cards-dark); */
  width: 300px;
  margin: 0 auto;
  padding-bottom: 20px;
  padding-top: 35px;
  background-color: $white-color;

  .team__item:hover & {
    box-shadow: 0px 15px 15px rgba(48,56,59,0.1);
  }

  &-title {
    @include font (700, 22px, 27px);
    color: $primary-text-color;
    text-align: center;
  }

  &-description {
    @include font (300, 15px, 27px);
    color: $secondary-text-color;
    font-family: $main-font;
    text-align: center;
    margin-bottom: 30px;
  }
}

@media screen and (min-width:768px) {
  .team {
    &__title {
      @include font (700, 42px, 27px);
    }
    &__description {
      max-width: 674px;
    }
  }
}