.team {
  padding-top: 50px;
  padding-bottom: 100px;

  &__title {
    text-align: center;
    @include font (700, 33px, 40px);
    font-family: $secondary-font;
    color: $primary-text-color;
    margin-bottom: 30px;
  }

    &__description {
    // width: 674px;
     margin: 0 auto;
    text-align: center;
    @include font (300, 15px, 27px);
    font-family: $secondary-font;
    color: $secondary-text-color;
    margin-bottom: 70px;
  }

   &__list {
    display: flex;
    flex-direction: column;
    align-items: center;
    // margin-left: -30px;
    // margin-top: -30px;
  }

  &__item {
    position: relative;
     &:not(:last-child) {
       margin-bottom: 30px;
     }
    // flex-basis: calc(100% / 3 - 30px);
    // margin-top: 30px;
    // margin-left: 30px;
    outline: 1px solid tomato;
  }
}

.team__thumb {
  position: absolute;
  z-index: 1;
  bottom: 0;
  padding: 20px 15px;
  width: 100%;
  border: 1px solid $bg-color-cards-dark; 
  background-color: $white-color;
  // bottom: -20%;
  // left: 10%;
  // right: 10%;
  // margin: 0 auto;
  // padding-top: 35px;
  // padding-bottom: 20px;

  .team__item:hover & {
    box-shadow: 0px 15px 15px rgba(48,56,59,0.1);
  }

  &-title {
    @include font (700, 22px, 27px);
    color: $primary-text-color;
    text-align: center;
  }

  &-description {
    @include font (300, 15px, 27px);
    color: $secondary-text-color;
    font-family: $main-font;
    text-align: center;
    // margin-bottom: 15px;
    // margin-bottom: 30px;
  }
}

@media screen and (min-width: 768px) {
  .team {
    &__title {
     @include font (700, 42px, 50px); 
    }

    &__description {
      max-width: 674px;
    }

    &__list {
      flex-direction: row;
      // margin-left: -30px;
      // margin-top: -30px; 
    }

    &__item {
      // flex-basis: calc(100% / 3 - 30px);
      // margin-top: 30px;
      // margin-left: 30px;
      
      &:not(:last-child) {
        margin-bottom: unset;
        margin-right: 30px;
      }
    }
    &__thumb {
      bottom: -20%;
      
      // &-description {
      //   margin-bottom: 30px;
      // }
    }
  }
}

@media screen and (min-width:1140px) {
  .team__thumb {
    max-width: calc(100% - 60px);
    left: 30px;
    right: 30px;
    bottom: -20%;
    
    &-description {
      margin-bottom: 30px;
    }
  }
}

// .team {
//   padding-top: 50px;
//   padding-bottom: 50px;

//   &__title {
//     text-align: center;
//     @include font (700, 33px, 27px);
//     font-family: $secondary-font;
//     color: $primary-text-color;
//     margin-bottom: 30px;
//   }

//   &__description {
//     // width: 674px;
//      margin: 0 auto;
//     text-align: center;
//     @include font (300, 15px, 27px);
//     font-family: $secondary-font;
//     color: $secondary-text-color;
//     margin-bottom: 90px;
//   }

//   &__list {
//     display: flex;
//     align-items: center;
//     margin-left: -30px;
//     margin-top: -30px;
//     outline: 1px solid tomato;
//   }

//   &__item {
//     position: relative;
//     flex-basis: calc(100% / 3 - 30px);
//     margin-top: 30px;
//     margin-left: 30px;
//   }
// }


// .team__thumb {
//   position: absolute;
//   z-index: 1;
//   bottom: -20%;
//   left: 10%;
//   right: 10%;
//   /* border: 1px solid var(--bg-color-cards-dark); */
//   width: 300px;
//   margin: 0 auto;
//   padding-bottom: 20px;
//   padding-top: 35px;
//   background-color: $white-color;

//   .team__item:hover & {
//     box-shadow: 0px 15px 15px rgba(48,56,59,0.1);
//   }

//   &-title {
//     @include font (700, 22px, 27px);
//     color: $primary-text-color;
//     text-align: center;
//   }

//   &-description {
//     @include font (300, 15px, 27px);
//     color: $secondary-text-color;
//     font-family: $main-font;
//     text-align: center;
//     margin-bottom: 30px;
//   }
// }

// @media screen and (min-width:768px) {
//   .team {
//     &__title {
//       @include font (700, 42px, 27px);
//     }
//     &__description {
//       max-width: 674px;
//     }
//   }
// }